<section id="documentos">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a routerLink="/" i18n>Inicio</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a routerLink="/covid" i18n>COVID-19</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page" i18n>
                            Información
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card iq-card">
                    <div class="iq-card-body">
                        <div *ngFor="let texto of textos; let indice = index">
                            <div [innerHtml]="getContent(indice)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>