<div class="wrapper">
  <app-header></app-header>
  <div
    id="content-page"
    class="content-page"
    [ngClass]="route?.includes('inicio') ? 'bckg' : ''"
  >
    <router-outlet></router-outlet>
  </div>
  <!-- <a href="https://api.whatsapp.com/send?phone={{ numero }}&text={{ mensaje }}" type="button"
        class="my-float-button-whatsapp shadow btn">
        <i class="ri-whatsapp-line icono"></i>
    </a> -->
</div>
<app-footer></app-footer>

<!-- Wrapper END -->
<!-- Footer -->

<!-- <footer>
  <span>Desarrollado por Metis Consultores {{ date }}</span>
</footer> -->
<!-- Footer -->
<footer class="bg-secondary text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        > <i class="ri-facebook-fill icono"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        > <i class="ri-twitter-fill icono"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        > <i class="ri-instagram-fill icono"></i></a>

    </section>
    <!-- Section: Social media -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © {{date}} Copyright:
    <a class="text-white" href="http://metis.com.co/">Metis Consultores</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- Footer END -->
