.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #f05a24;
    border-bottom: 10px solid #f05a24;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

.silla-disponible {
    position: relative;
}

.silla-ocupada {
    position: relative;
}
.silla-reservada {
    position: relative;
}

.silla-disponible .numero-silla {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
}

.silla-ocupada .numero-silla {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
}
.silla-reservada .numero-silla {
    color: white !important;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
}

/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.slct {
  display: flex;
    border-left: 1px solid #f05a24;
    flex-direction: column;
    justify-content: center;
}

.seatcant {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.nodis {
  background-color: gray !important;
}
.nodis:hover {
  pointer-events: none;
}

.logoemp {
  width: 40%;
  height: 65%;
}

.namemp{
  margin: 0;
}


.cond {
  background-color: transparent !important;
}


.disponible, .select, .ocupado  {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;

}

.disponible, .select, .ocupado:hover {
  pointer-events: none;
}

.disponible {
  background-color: #2b9ced;
}

.ocupado {
  background-color: #e64240;
}


.select {
  background-color: #00ca00;
}
.labels {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
